---
layout: default
---

<div class="pure-g">
  <div class="demo-960">
    <div class="pure-u-1">
      <h1>Jekyll + Yahoo's Pure CSS</h1>
      <p>A basic <a href="http://jekyllrb.com/">Jekyll</a> site incorporating Yahoo's <a href="http://purecss.io/">Pure</a> responsive CSS boilerplate.</p>
      <p>Page weight is only one 12kB HTML file plus one 27kB CSS file, and the 23kB demo image.</p>
      <p>That's HTML + CSS under 8kB, gzipped.</p>
    </div>
  </div>
</div>

<div class="pure-g">
  <div class="demo-960">
    <div class="pure-u-1">
      <h2>
        Responsive Grid
      </h2>
    </div>
  </div>
</div>

<div class="pure-g demo-grid">
  <div class="pure-u-1 pure-u-md-1-3">
    <p>pure-u-1 pure-u-md-1-3</p>
  </div>
  <div class="pure-u-1 pure-u-md-2-3">
    <p>pure-u-1 pure-u-md-2-3</p>
  </div>
  <div class="pure-u-1 pure-u-md-3-4">
    <p>pure-u-1 pure-u-md-3-4</p>
  </div>
  <div class="pure-u-1 pure-u-md-1-4">
    <p>pure-u-1 pure-u-md-1-4</p>
  </div>
  <div class="pure-u-1 pure-u-md-2-5">
    <p>pure-u-1 pure-u-md-2-5</p>
  </div>
  <div class="pure-u-1 pure-u-md-3-5">
    <p>pure-u-1 pure-u-md-3-5</p>
  </div>
  <div class="pure-u-1 pure-u-md-3-8">
    <p>pure-u-1 pure-u-md-3-8</p>
  </div>
  <div class="pure-u-1 pure-u-md-5-8">
    <p>pure-u-1 pure-u-md-5-8</p>
  </div>
</div>

<div class="pure-g">
  <div class="demo-960">
    <div class="pure-u-1">

      <h2>
        Typography
      </h2>

      <h1>
        Heading h1
      </h1>
      <h2>
        Heading h2
      </h2>
      <h3>
        Heading h3
      </h3>
      <h4>
        Heading h4
      </h4>
      <h5>
        Heading h5
      </h5>
      <h6>
        Heading h6
      </h6>
      <p>Paragraph text</p>
      <strong>Bolded</strong>
      <em>Italicized</em>
      <a href="#">Link</a>
      <u>Underlined</u>

    </div>
  </div>
</div>

<div class="pure-g">
  <div class="demo-960">
    <div class="pure-u-1">

      <h2>
        Responsive Images
      </h2>

      <div class="pure-u-1">
        <img class="pure-img" src="{{ site.baseurl }}/assets/images/demo-image.png">
      </div>

    </div>
  </div>
</div>

<div class="pure-g">
  <div class="demo-960">
    <div class="pure-u-1">

      <h2>
        Menus
      </h2>

      <h4>
        Default Menu
      </h4>

      <div class="pure-menu custom-restricted-width">
        <span class="pure-menu-heading">Yahoo Sites</span>

        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Flickr</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Messenger</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li>
          <li class="pure-menu-heading">More Sites</li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Games</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">News</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">OMG!</a></li>
        </ul>
      </div>

      <h4>
        Horizontal Menu
      </h4>

      <div class="pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading pure-menu-link">BRAND</a>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">News</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="pure-g">
  <div class="demo-960">
    <div class="pure-u-1">

      <h2>
        Forms
      </h2>

      <form class="pure-form pure-form-aligned">
        <fieldset>
          <legend>An Aligned Form</legend>
          <div class="pure-control-group">
            <label for="name">Username</label>
            <input id="name" type="text" placeholder="Username">
          </div>

          <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password">
          </div>

          <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="Email Address">
          </div>

          <div class="pure-control-group">
            <label for="foo">Supercalifragilistic Label</label>
            <input id="foo" type="text" placeholder="Enter something here...">
          </div>

          <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
              <input id="cb" type="checkbox"> I've read the terms and conditions
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
          </div>
        </fieldset>
      </form>

      <form class="pure-form pure-form-stacked">
        <fieldset>
          <legend>A Multi-Column Form</legend>

          <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-3">
              <label for="first-name">First Name</label>
              <input id="first-name" class="pure-u-23-24" type="text">
            </div>

            <div class="pure-u-1 pure-u-md-1-3">
              <label for="last-name">Last Name</label>
              <input id="last-name" class="pure-u-23-24" type="text">
            </div>

            <div class="pure-u-1 pure-u-md-1-3">
              <label for="email">E-Mail</label>
              <input id="email" class="pure-u-23-24" type="email" required>
            </div>

            <div class="pure-u-1 pure-u-md-1-3">
              <label for="city">City</label>
              <input id="city" class="pure-u-23-24" type="text">
            </div>

            <div class="pure-u-1 pure-u-md-1-3">
              <label for="state">State</label>
              <select id="state" class="pure-input-1-2">
                <option>AL</option>
                <option>CA</option>
                <option>IL</option>
              </select>
            </div>
          </div>

          <label for="terms" class="pure-checkbox">
            <input id="terms" type="checkbox"> I've read the terms and conditions
          </label>

          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
      </form>

      <form class="pure-form">
        <legend>
          Grouped Inputs
        </legend>
        <fieldset class="pure-group">
          <input type="text" class="pure-input-1-2" placeholder="Username">
          <input type="text" class="pure-input-1-2" placeholder="Password">
          <input type="email" class="pure-input-1-2" placeholder="Email">
        </fieldset>

        <fieldset class="pure-group">
          <input type="text" class="pure-input-1-2" placeholder="A title">
          <textarea class="pure-input-1-2" placeholder="Textareas work too"></textarea>
        </fieldset>

        <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Sign in</button>
      </form>

    </div>
  </div>
</div>

<div class="pure-g">
  <div class="demo-960">
    <div class="pure-u-1">

      <h2>
        Tables
      </h2>

      <h4>
        Default Table
      </h4>

      <table class="pure-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2009</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Toyota</td>
            <td>Camry</td>
            <td>2012</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Hyundai</td>
            <td>Elantra</td>
            <td>2010</td>
          </tr>
        </tbody>
      </table>

      <h4>
        Bordered Table
      </h4>

      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2009</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Toyota</td>
            <td>Camry</td>
            <td>2012</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Hyundai</td>
            <td>Elantra</td>
            <td>2010</td>
          </tr>
        </tbody>
      </table>

      <h4>
        Table with Horizontal Borders
      </h4>

      <table class="pure-table pure-table-horizontal">
        <thead>
          <tr>
            <th>#</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2009</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Toyota</td>
            <td>Camry</td>
            <td>2012</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Hyundai</td>
            <td>Elantra</td>
            <td>2010</td>
          </tr>
        </tbody>
      </table>

      <h4>
        Striped Table
      </h4>

      <table class="pure-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
          </tr>
        </thead>

        <tbody>
          <tr class="pure-table-odd">
            <td>1</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2009</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Toyota</td>
            <td>Camry</td>
            <td>2012</td>
          </tr>

          <tr class="pure-table-odd">
            <td>3</td>
            <td>Hyundai</td>
            <td>Elantra</td>
            <td>2010</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Ford</td>
            <td>Focus</td>
            <td>2008</td>
          </tr>

          <tr class="pure-table-odd">
            <td>5</td>
            <td>Nissan</td>
            <td>Sentra</td>
            <td>2011</td>
          </tr>

          <tr>
            <td>6</td>
            <td>BMW</td>
            <td>M3</td>
            <td>2009</td>
          </tr>

          <tr class="pure-table-odd">
            <td>7</td>
            <td>Honda</td>
            <td>Civic</td>
            <td>2010</td>
          </tr>

          <tr>
            <td>8</td>
            <td>Kia</td>
            <td>Soul</td>
            <td>2010</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
