/* Your custom CSS & overrides go here... */


/*
Uncomment this section and add your custom font here if desired.
More info here: http://purecss.io/grids/#using-grids-with-custom-fonts

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {

}
*/

.demo-grid [class *= "pure-u"] {
  background: #eee;
  box-shadow: inset 0 0 1px #0078E7;
  text-align: center;
}
.demo-960 {
  max-width: 960px;
  margin: 0 auto;
}
